.buttonSalve{
    margin: 1em auto;
    display: block;
    width: 100px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #F7934C;
    font-size: 18px;
    color: #eee ;
    padding: 10px;
    
   
}
