.buttonSalve{
    margin: 1em auto;
    display: block;
    width: 100px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #F7934C;
    font-size: 18px;
    color: #eee ;
    padding: 10px;
    cursor: pointer;
    
}

.buttonSalve:hover{
    color: #FC5E05; 
    transition: color 0.3s ease;
    cursor: pointer;
}
