.saudacao {
    font-family: 'Georama', sans-serif;
    font-weight: 600;  
}

.home {
    min-height: 80vh;
}
/*
.hidden {
    position: relative;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}
*/
