.cad-usuario,
.cad-sala,
.cad-midia,
.cad-empresa,
.cad-equipamento {
  background-image: url('../../imagens/fundo.tela.b.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 80vh;
  margin: 0;
}

.cad-usuario-container,
.cad-salas-container,
.cad-midia-container,
.cad-empresa-container,
.cad-equipamento-container {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  font-family: 'Georama', sans-serif;
}

.cad-dados-usuario,
.cad-dados-salas,
.cad-dados-midia,
.cad-dados-empresa,
.cad-dados-equipamento {
  width: 70%;
  margin: 5%;
  background-color: rgba(248, 213, 168, 0.62);
  height: 100%;
  border-radius: 2%;
  padding: 10px;
  min-width: 350px;
}

.form-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  justify-content: space-around;
  margin-left: 22px;
}

.td {
  margin: 1em auto;
  display: block;
  width: 100px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #F7934C;
  font-size: 18px;
  color: #eee;
  padding: 10px;
  margin-right: 40px;
}

.anexos-right {
  text-align: center;
}

.geral-salascad,
.geral-equipamento-cad {
  display: flex;
  justify-content: space-between;
}

.input-salascad,
.input-equipamento-cad {
  width: 80%;
  padding: 20px;
}

.tabela-salascad,
.tabela-equipamento-cad {
  padding: 5px;
  width: 80%;
}

.data-pick {
  display: flex;
  justify-content: space-around;
}

.form-flex {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 155px;
}



.form-flex-column {
  width: 290px;
  margin-left: 10px;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.4);
  padding: 10px;
  border-radius: 5px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-item {
  display: flex;
  flex-direction: column;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 0;
}

.button-Add-Cancel{
  display: flex;
  
}

@media (max-width: 992px) {
  .cad-dados-usuario,
  .cad-dados-salas,
  .cad-dados-midia,
  .cad-dados-empresa,
  .cad-dados-equipamento {
    max-width: 90%;
    align-items: center;
  }

  .titulo {
    font-size: 20px;
  }

  .form-flex {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .form-flex-column {
    width: 100%;
    margin-left: 0;
  }

  .checkbox-group {
    align-items: center;
  }

  .form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .form-buttons .button-cancelar {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
}

.form-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-buttons .button-cancelar {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
}
